{{> References}}

<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/Companies/{{CompanyId}}">{{CompanyName}}</a></li>
		<li class="active">{{Contact.Name}}</li>
	</ol>

	<div class="container">
		<h1>Contact</h1>
		<form action="/Companies/{{CompanyId}}/Contacts/{{Contact.ID}}" method="post">
			<div class="form-group">
				<label for="Name">Name</label>
				<input name="Name" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Contact.Name}}" />
				<small id="emailHelp" class="form-text text-muted">This is required.</small>
			</div>
			<div class="form-group">
				<label for="Name">Position</label>
				<input name="Position" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Contact.Position}}" />
			</div>
			<div class="form-group">
				<label for="Name">Phone</label>
				<input name="Phone" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Contact.Phone}}" />
			</div>
			<div class="form-group">
				<label for="Name">Email</label>
				<input Name="Email" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Contact.Email}}" />
			</div>
			<div class="form-group">
				<label for="Name">Details</label>
				<input name="Details" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Contact.Details}}" />
			</div>

			<input class="btn btn-primary" type="submit" value="Save" />
		</form>

		<h2>Notes</h2>
		<a href="/Companies/{{CompanyId}}/Contacts/{{Contact.ID}}/Notes_Create">content</a>
		{{#with Contact}}
		{{#each Notes}}
		<a href='/Companies/{{../../CompanyId}}/Contacts/{{../ID}}/Notes/{{ID}}'> {{Title}}</a>
		{{/each}}
		{{/with}}
	</div>
</body>