{{> References}}

<head>
	<title></title>
</head>
<body>
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/Companies">Companies</a></li>
		<li class="active">{{Company.Name}}</li>
	</ol>

	<div class="container">
		<h1>Company</h1>
		<form>
			<div class="form-group">
				<label for="Name">Name</label>
				<input name="Name" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Company.Name}}" />
				<small id="emailHelp" class="form-text text-muted">This is required.</small>
			</div>
			<div class="form-group">
				<label for="Name">Address</label>
				<input name="Address" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Company.Address}}" />
			</div>
			<div class="form-group">
				<label for="Name">City</label>
				<input name="City" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Company.City}}" />
			</div>
			<div class="form-group">
				<label for="Name">State</label>
				<input name="State" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Company.State}}" />
			</div>
			<div class="form-group">
				<label for="Name">Zip</label>
				<input name="Zip" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Company.Zip}} " />
			</div>
			<div class="form-group">
				<label for="Name">Phone</label>
				<input name="Phone" type="tel" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name" value="{{Company.Phone}}" />
			</div>

			<input class="btn btn-primary" type="submit" value="Save" />
		</form>

		<h2>Contacts</h2>
		{{#with Company}}
		{{#each Contacts}}
		<a href='/Companies/{{../ID}}/Contacts/{{ID}}'> {{Name}}</a>
		{{/each}}
		{{/with}}
		<h2>Quotes</h2>

		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
		</div>
	</div>
</body>